.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center ;
  background-color: var(--kg-bg-primary) ;
  color: var(--kg-text-secondary);
  text-align: center;
  padding: 10px 60px;
  bottom: 0;
  width: 100%;
  font-size: var(--kg-font-size-text);
  position: fixed;
  z-index: 4;
}

.footer a {
  text-decoration: none;
  margin: 0 10px;
  color: var(--kg-text-secondary);
}

.footer-logo,
.footer-menu,
.footer-social {
  text-align: center;
  display: flex;
}

.footer-logo img {
  width: 10rem;
 }

 .copyright{
  font-size:x-small;
 }

.footer-menu{
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.footer-menu a{
  text-decoration: none;
}

.footer-menu a:hover,
.footer-social a:hover {
  text-decoration: underline;
}

.footer-social{
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  width: 1.5rem;
}


/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .social-icon {
    width: 1rem;
  }
  .footer-logo img {
    width: 8rem;
   }
}

/* Estilos para móviles */
@media (max-width: 767px) {
.copyright{
  display: none;
}
.footer-logo img {
  width: 6rem;
 }
 .social-icon {
  width: 0.7rem;
}
}