.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--kg-bg-primary);
  color: var(--kg-text-tertiary);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.header-logo img {
  width: 5rem;
  margin:20px 50px;
}

.header-logo:hover {
  transform:scale(1.2);
  transition: 1s;
  cursor: pointer;
}

.header-menu, 
.header-menu-login{
  display: flex;
  gap: 30px;
  font-size: var(--kg-font-size-text);
  margin-right: 5rem;
}

.header-menu a,
.header-menu-login a {
  color: var(--kg-text-secondary);
}

.header-menu img,
.header-menu-login img {
  width: 2rem;
}

.header-menu a:hover,
.header-menu-login a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  text-shadow: 0 0 30px var(--kg-text-primary);
}

@media (max-width: 900px) {

} 

@media (max-width: 500px) {
  .header-menu img,
  .header-menu-login img {
    width: 1.3rem;
  }
  .header-logo img {
    width: 3rem;
    margin:20px 40px;
  }
  .header-menu, 
.header-menu-login{
  margin-right: 3rem;
}

} 
