.switch-container{
  cursor: pointer;
  position: fixed;
  bottom:100px;
  left: 100px;
  z-index: 4;
}

#switch,
#circle {
  height: 30px;
  transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
} 

#switch {
  width: 50px;
  border: 3px solid var(--kg-bg-tertiary);
  border-radius: 27px;
  background: var(--kg-bg-primary);
  position: relative;
}

#circle {
  margin-top: 5%;
  margin-left: 5%;
  width: 40%;
  height: 80%;
  border-radius: 50%;
  background: var(--kg-bg-tertiary);
}

.switched {
  border-color: var(--kg-bg-primary) !important;
  background: var(--kg-bg-tertiary) !important;
}

.switched #circle {
  margin-left: 55%;
  background: var(--kg-bg-primary);
}

@media (max-width: 900px) {
  .switch-container{
    bottom:100px;
left: 50px;
  }
} 

@media (max-width: 500px) {
  .switch-container{
    bottom:100px;
    left: 20px;
  }
} 