#keyboard {
  display: none;
}

.key {
  padding: var(--kg-padding-sm);
  font-size: var(--kg-font-size-link);
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: var(--kg-bg-secondary);
  transition: background-color 0.3s;
}

.key:hover {
  background-color: var(--kg-bg-tertiary);
}

.key-disabled {
  background-color:var(--kg-bg-light);
  cursor: not-allowed;
  border-color: var(--kg-bg-primary);
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  #keyboard {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--kg-gap-xs);
    margin: 20px auto;
    width: 80%;
  }
}

/* Estilos para móviles */
@media (max-width: 767px) {
  #keyboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--kg-gap-xs);
    margin: 20px auto;
    width: 80%;
  }
}
