.snakeSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: var(--kg-gap-lg);
  margin-top: 110px;
  height: 100%;
}

.section-tittle{
  text-align: center;
}

.bodySectionSnake{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: center;
  align-items: center;
  gap: var(--kg-gap-xxl);
}

#board {
  display: grid;
  /* grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20,1fr); */
  grid-template-columns: repeat(10, 1fr);
  border: var(--kg-color-secondary) solid 1px;
}

#bodyControls{
  display: none;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls button {
  background-color:var(--kg-color-tertiary);
  color: var(--kg-color-secondary);
  font-size: var(--kg-font-size-link);
  border: none;
  padding: var(--kg-padding-xs);
  border-radius: var(--kg-radius-md);
  cursor: pointer;
}

#controls div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2.1fr);
  justify-content: center;
}

#rightBtn{
  grid-column: 3/4;
  grid-row: 1/2;
}

#downBtn{
  grid-column: 2/3;
  grid-row: 2/3;
}


#startMessage {
/*   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: var(--kg-font-size-text);
  color: var(--kg-color-tertiary);
  visibility: visible;
}

#gameOver {
  visibility: hidden;
  font-size: var(--kg-font-size-text);
}

.boardInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--kg-font-size-text);
  margin-top: 10px;
}

#start-Btn {
  min-width: 130px;
  height: 40px;
  color: var(--kg-color-primary);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: var(--kg-radius-md);
  border: 2px solid var(--kg-color-tertiary);
  background:var(--kg-color-tertiary);
}

#start-Btn:hover {
  background:var(--kg-color-secondary);
  border: 2px solid var(--kg-color-secondary);
  color: var(--kg-color-tertiary);
}

#scoreBoard, #maxScoreBoard {
  display: inline-flex;
}

.square {
  aspect-ratio: 1;
}

.emptySquare {
  background-color: transparent;
}

.snakeSquare {
  background-color: var(--kg-color-secondary);
  
}

.foodSquare {
  background-color: var(--kg-color-tertiary);
  position: relative;
  border-radius: 50% 50% 40% 40%;
}
/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
 
}

/* Estilos para móviles */
@media (max-width: 767px) {
  #bodyControls{
    display: block;
  }

  .bodySectionSnake{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: var(--kg-gap-md);
  }
}